<!DOCTYPE html>
  <html>
    <head>
      <title>Mongoose Flights</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
     <nav>
      <a href="/">
        <button>Home</button>
      </a>
      
      <a href="/flights">
        <button>All Flights</button>
      </a>
      
      <a href="/flights/new">
        <button>Add Flight</button>
      </a>
    </nav>