body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  background-color: rgb(22, 93, 223);
  color: white;
  border-radius: 10px;
  border: none;
  min-height: 30px;
  min-width: 120px;
}

button:hover {
  background-color: rgb(15, 69, 166);
  color: white;
  transition: 0.3s;
}

.past {
  color: red;
}

tbody {
  text-align: center;
}
